*.vs
*.pyproj
*.sln
*.suo
*.localhistory
*saved_params*.npy
*.pyc
*.idea/
*venv/
*.npz
*.p
*.pyc
*.sav

/NLP/Exercise3/~WRL0005.tmp
/NLP/Exercise3/~$ercise 3.docx
/NLP/Exercise4/results
/AML/Exercise4/latent_images.png
/AML/Exercise4/image_progress__9.png
/AML/Exercise4/image_progress__8.png
/AML/Exercise4/image_progress__7.png
/AML/Exercise4/image_progress__6.png
/AML/Exercise4/image_progress__5.png
/AML/Exercise4/image_progress__4.png
/AML/Exercise4/image_progress__3.png
/AML/Exercise4/image_progress__2.png
/AML/Exercise4/image_progress__1.png
/AML/Exercise4/image_progress__0.png
/AML/Exercise4/latent_images_convnet.png
/AML/Exercise4/image_progress_convnet__9.png
/AML/Exercise4/image_progress_convnet__8.png
/AML/Exercise4/image_progress_convnet__7.png
/AML/Exercise4/image_progress_convnet__6.png
/AML/Exercise4/image_progress_convnet__5.png
/AML/Exercise4/image_progress_convnet__4.png
/AML/Exercise4/image_progress_convnet__3.png
/AML/Exercise4/image_progress_convnet__2.png
/AML/Exercise4/image_progress_convnet__1.png
/AML/Exercise4/image_progress_convnet__0.png
/AML/Exercise4/latent_images_const_variance.png
/AML/Exercise4/image_progress_const_variance__9.png
/AML/Exercise4/image_progress_const_variance__8.png
/AML/Exercise4/image_progress_const_variance__7.png
/AML/Exercise4/image_progress_const_variance__6.png
/AML/Exercise4/image_progress_const_variance__5.png
/AML/Exercise4/image_progress_const_variance__4.png
/AML/Exercise4/image_progress_const_variance__3.png
/AML/Exercise4/image_progress_const_variance__2.png
/AML/Exercise4/image_progress_const_variance__1.png
/AML/Exercise4/image_progress_const_variance__0.png
/AML/Exercise4/z_mean_fixed_var_table.txt
/AML/Exercise4/x_decoded_sample_const_variance.png
